{% extends 'base.html.twig' %}

{% block body %}
<div class="col-md-8 col-md-offset-2 ">
    <div class="panel">
        <div class="panel-body">
    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Create" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('commune_index') }}">Back to the list</a>
        </li>
    </ul>
            </div>
        </div>
    </div>
{% endblock %}
